.fullOpacity {
  opacity: 1 !important;
}

.collapse-enter {
  opacity: 0;
  max-height: 0;
}

.collapse-enter-active {
  opacity: 1;
  max-height: 1000px;
  transition: all 800ms;
}

.collapse-exit {
  opacity: 1;
  max-height: 1000px;
}

.collapse-exit-active {
  opacity: 0;
  max-height: 0px;
  transition: all 800ms;
}
