@font-size-base: 14px;
@font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Helvetica, Arial, sans-serif;
@nav-bar-default-bg: black;
@nav-item-hover-font-color: white;
@sidenav-default-font-color: #c9d2d8;
@nav-item-default-hover-bg: #394048;

@btn-subtle-color: #c9d2d8; //this changes the Decisions text to white
@btn-subtle-hover-bg: #394048; //hover background of Decisions text
@btn-subtle-default-hover-color: white; //color of text when being hovered

@dropdown-bg: black;
@dropdown-link-color: #c9d2d8;
@dropdown-link-hover-color: white;
@dropdown-link-hover-bg: #394048;
@sidenav-default-active-font-color: white; //color of the navigation link when the it is active
@dropdown-link-active-color: white;
@dropdown-link-active-bg: "transparent";

@badge-background: #394048;
@modal-content-bg: white;

// @slider-bar-default-bg: @B100;
// @slider-bar-hover-bg: @B100;
@slider-bar-side-length: 8px;
@slider-handle-diameter: 17px;
@slider-handle-border-width: 3px;
// @slider-handle-default-bg: @B000;
// @slider-handle-dragging-bg: @H500;
// @slider-handle-default-border-color: @H500;
// @slider-handle-hover-border-color: @H500;
// @slider-handle-hover-box-shadow: 0 0 0 4px fade(@H100, 40);
// @slider-handle-dragging-box-shadow: none;
// @slider-progress-bar-bg: @H500;
// @slider-calibration-diameter: 8px;
// @slider-calibration-border-width: 2px;
// @slider-calibration-bg: @B000;
// @slider-calibration-border-color: @B100;
// @slider-calibration-pass-border-color: @H500;
// @slider-mark-margin-top: 12px;
// @slider-handle-transition: 0.3s ease-in-out;
