@font-size-base: 14px;
@font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Helvetica, Arial, sans-serif;
@nav-bar-default-bg: black;
@nav-item-hover-font-color: white;
@sidenav-default-font-color: white;
@nav-item-default-hover-bg: #394048;

@btn-subtle-color: white; //this changes the Decisions text to white
@btn-subtle-hover-bg: #394048; //hover background of Decisions text
@btn-subtle-default-hover-color: white; //color of text when being hovered

@dropdown-bg: black;
@dropdown-link-color: white;
@dropdown-link-hover-color: white;
@dropdown-link-hover-bg: #394048;
